@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
	direction: rtl;
	padding-top: 20px;
}

h1, label, p, select {
	font-family: 'Open Sans Hebrew', 'Open Sans Hebrew Condensed', 'Varela Round';
}

.line{
	padding-bottom: 1rem;
}

#mainHead {
	text-align: center;
}

.show_select{
	font-size: medium;
	display: inline-block;
}

.hide_select {
	display: none;
}

.article_container {
	border-radius: 5px;
	padding: 20px;
	background-color: antiquewhite;
	margin: auto;
	width: 80%;
}